* {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #F3F1F1;
}


form {
    width: 60%;   
    margin: 0 auto; 
    padding: 4% 7%;
    margin-bottom: 1%;
    border-radius: 1.8rem;
    border: 0.1875rem solid rgb(232, 231, 231);
    background-color: white;
    box-shadow: 0.6rem 0.6rem 0.6rem rgba(90, 89, 89, 0.3);
}

label {  
    display: block; 
    margin-bottom: 0.13rem;
    color: #3399BB;
    font-size: 1.25rem;
    padding: 0.25rem;
    font-weight: 800;
    text-align:  left;
    font-family: 'Roboto';
    padding-top: 20px;
}

input {
    width: 100%; 
    margin-bottom: 0.625rem;
    height: 2rem;
    border-radius: 0.1875rem;
    color: #3399bba5;
    border: 0.125rem solid #CBCBCB;
    padding-left: 0.625rem;
    padding-right: 6.25rem;
    outline: none;
}

.form-column {  
    display: flex;  
    justify-content: space-between; 
}

h1 {
    padding-top: 1.875rem;
    padding-bottom: 0.625rem;
    color: #F2A97E; 
    font-size: 3.125rem;
    font-weight: 800;
    font-family: 'Open Sans';
}

p {
    padding-top: 0;
    padding-bottom: 1.25rem;
    color: #f2a97eba;
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 600;
    letter-spacing: 0.0625rem;
}

input::placeholder {
    color: #3399bb99; 
    font-size: 0.875rem;
    padding: 0.25rem;
    font-family: 'Roboto';
    text-align: left;
    font-weight: 600;
}

input [type="date"] {
    padding: 0.625rem;
    padding-left: 0.625rem;
    color: #3399BB99;
    font-size: 0.875rem;
    font-weight: 600;
    appearance: none;
    font-family: 'Roboto';
    -webkit-appearance: none; 
}


input[type="checkbox"] {
    width: 3.125rem;
    height: 1.375rem;
    border: 0.0625rem solid #CBCBCB;
    border-radius: 0.125;
    cursor: pointer;
}

.voltar {
    display: grid;
}

.termos1 {
    display: flex;
    justify-content: center ;
    color: #d971a2df;
    font-family: 'Roboto';
    padding-top: 1%;
    font-size: 1.125rem;
    font-weight: 500;
}

.termos2 {
    display: flex;
    justify-content: center;
    color: #d971a2df;
    font-family: 'Roboto';
    font-size: 1.125rem;
    font-weight: 500;
}

.cadastrar {
  padding: 0.4375rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #D971A1; 
  color: #fff; 
  font-family: 'Open Sans';
  font-weight: 800;
  letter-spacing: 0.0625rem;
}

.button {
    background-color: rgb(217, 113, 161);
    border: 0.125rem solid rgb(217, 113, 161);
    border-radius: 0.3125rem; 
    color: #fff;
    padding: 0.4375rem;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 1.875rem;
    transition: all 0.4s ease-out;
}

.button:hover {
    background-color: #F3F1F1;
    color: #d971a1;
    border: 0.125rem solid rgb(217, 113, 161);
}

#msgError{
text-align: center;
color: #ff0000;
background-color: #ffbbbb;
padding: 0.625rem;
border-radius: 0.25rem;
display: none;
font-family: 'roboto';
}

#msgSuccess{
text-align: center;
color: #00bb00;
background-color: #bbffbe;
padding: 0.625rem;
border-radius: 0.25rem;
display: none;
font-family: 'roboto';
}


/*Classe fa*/
.fa-eye{
position: absolute;
left: 36.5625rem;
padding-top: 0.5rem;
cursor: pointer;
color: #3399BB;
}

.fa-eye-slash{
position: absolute;
right: 22.1875rem;
padding-top: 0.5rem;
cursor: pointer;
color: #3399BB;
}

.fa-user-circle{
position: absolute;
right: 22.1875rem;
padding-top: 0.5rem;
cursor: pointer;
color: #3399BB;
}

.fa-envelope{
position: absolute;
right: 22.1875rem;
padding-top: 0.5rem;
cursor: pointer;
color: #3399BB;
}

.fa-phone{
position: absolute;
left: 36.875rem;
padding-top: 0.5rem;
cursor: pointer;
color: #3399BB;
}

.fa-stop{
position: absolute;
right: 12.937rem;
padding-top: 0.4375rem;
cursor: pointer;
color: #ffffff;
width: 20%;
}

.fa-calendar{
position: absolute;
right: 7.5rem;
padding-top: 0.4375rem;
cursor: pointer;
color: #3399BB;
width: 20%;
}



/* Footer */
footer {
    background-color: #3399BB;
    width: 100%;
    color: white;
    display: flex;
}

.rodape{
    padding-left:20%;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.div-rodape{
    float: left;
    width: 20%;
}

.titulo-rodape {
  font-family: 'Open Sans';
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

.texto-rodape {
    font-family: "Roboto";
    margin: 0;
    line-height: 130%;
    font-size: 0.8125rem;
    text-align: center;
  }



/* Header */
header{
    height: 20vh;
    width: 100%;
    padding: 0 10%;
    background: #ffffff;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: left;
}

.logo{
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 30px;
}
.iconeperfil{
    width: 49px;
    height: 49px;
    border-radius: 100%;
    opacity: 0.5;
}
.nav-links{
    padding: 28px 0;
}
.nav-linkentrar{
    padding: 28px 0;
}
.nav-linkcadastrar{
    padding: 28px 0;
}
.nav-linkperfil{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 20px;
}
.nav-linkentrar li{
    display: inline-block;
}
.nav-linkcadastrar li{
    display: inline-block;
    margin: 0 15px;
}
.nav-linkperfil li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    left: -30px;
    top: 20px;
}
.nav-linkentrar li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    top: 20px;
    left: 230px;
}
.nav-linkcadastrar li a{
    text-decoration: none;
    color: #fff;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 250px;
}
.nav-linkperfil li a{
    text-decoration: none;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 16px;
    padding: 5px 0;
    position: relative; 
    left: 170px;
}
.nav-linkcadastrar li a::before{
    content: '';
    background: #d971a1;
    width: 100%;
    height: 35px;
    width: 130px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 8%;
    left: -6px;
}

.header_list_username{
    text-decoration: underline;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding: 45px 0;
    position: relative;
    left: 20%;
  }
