*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto';
    box-sizing: border-box;
}

header{
    height: 20vh;
    width: 100%;
    padding: 0 10%;
    background: #ffffff;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: left;
}

.logo{
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 30px;
}
.iconeperfil{
    width: 49px;
    height: 49px;
    border-radius: 100%;
    opacity: 0.5;
}
.nav-links{
    padding: 28px 0;
}
.nav-linkentrar{
    padding: 28px 0;
}
.nav-linkcadastrar{
    padding: 28px 0;
}
.nav-linkperfil{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 20px;
}
.nav-linkentrar li{
    display: inline-block;
}
.nav-linkcadastrar li{
    display: inline-block;
    margin: 0 15px;
}
.nav-linkperfil li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    left: -30px;
    top: 20px;
}
.nav-linkentrar li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    top: 20px;
    left: 230px;
}
.nav-linkcadastrar li a{
    text-decoration: none;
    color: #fff;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 250px;
}
.nav-linkperfil li a{
    text-decoration: none;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 16px;
    padding: 5px 0;
    position: relative; 
    left: 170px;
}
.nav-linkcadastrar li a::before{
    content: '';
    background: #d971a1;
    width: 100%;
    height: 35px;
    width: 130px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 8%;
    left: -6px;
}

main{
    width: 100%;
    background-color: #F2F2F2;
    padding: 2%;
    min-height: 386px;
}

.voltar{
    width: 100%;
    position: relative;
    bottom: 90px;
}

.titulo-main{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F2A97E;
    position: relative;
}

.titulo-main h1{
    font-size: 300%;
    text-align: center;
}

.voltar_meuspets{
    width: 100%;
    position: relative;
}

.titulo-main_meuspets{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F2A97E;
    position: relative;
    bottom:100px
}

.titulo-main_meuspets h1{
    font-size: 300%;
    text-align: center;
}

.titulo-main h2{
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    opacity: 55%;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15%;
    width: 70%;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    bottom: 20px;
}

.cards {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 10%); /* Calcula o tamanho dos cards para ocupar cerca de 1/3 da largura da tela */
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 20px; /* Adiciona margem inferior para separar os cards */
}

.card_titulo{
    color: #3399BB;
    margin: 0px 0 10px;
    font-size: large;
    margin: 0% 0% 10% 0%;
}

li{
    list-style-type: none;
    color: #3399BB;
    font-weight: bold;
    margin: 3% 2%;
}

.container{
    height: 500px;
}

.card-body{
    text-align: left;
}

.saibamais{
    padding-right: 5%;
    text-align: right;
    background-color: #d971a1;
    color: white;
    border: none;
    padding: 3%;
    border-radius: 100px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.editar{
    padding-right: 5%;
    text-align: right;
    background-color: #d971a1;
    color: white;
    border: none;
    padding: 3%;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.imagem {
    text-align: center;
}

#addImageButton {
    display: inline-block;
    width: 10%;
    height: 1%;
    background-color: #3399BB;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#addImageButton:hover {
    background-color: #1731c5;
}

#foto {
    display: none;
}


.colunas-formulario{
    width: 30%;
    float: left;
    margin: 3% 5%;
}

.colunas-formulario2{
    width: 20%;
    float: left;
    margin: 3% 5%;
    text-align: left;
}

.colunas-formulario3{
    width: 20%;
    float: right;
    margin: 3% 5%;
    text-align: left;
}


.colunas-formulario h2
{
    color: #3399BB;
    margin: 0px 0 10px;
    font-size: large;
}

.colunas-formulario2 h2
{
    color: #3399BB;
    margin: 40px 0 10px;
    font-size:x-large;
}

.colunas-formulario3 h2
{
    color: #3399BB;
    margin: 25px 0 10px;
    font-size: large;
}

.especies {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.colunas-formulario input{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.colunas-formulario2 input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.colunas-formulario3 input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

label{
    color: #3399BB;
    font-size: large;
}

#descrição-pet{
    padding: 25% 6%;
}

.cadastrar{
    margin-top: 1%;
    width: 100%;
    text-align: center;
}

.meu-botao {
    background-color: #d971a1;
    color: white;
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: bold;
}

.meu-botao:hover {
    background-color: rgb(223, 116, 132);
}

.excluir {
    background-color: #d971a1;
    color: white;
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: bold;
    margin-top: 1%;
    width: 10%;
    text-align: center;
    position: relative;
    bottom: 120px;
    left: 50px;
}

.pesquisa{
    position: relative;
    bottom: 60px;
    width: 100%;
    font-size: large;
}

#local{
    width: 60%;
    border: 2px solid #acacac;
    border-radius: 30px;
    height: 40px;
    padding-bottom: 1%;
}

.mais{
    text-align: right;  
    padding-right: 10%;
    padding-bottom: 3%;
  }

.paginação{
    padding-right: 5%;
    text-align: right;
}

.pagina {
    background-color: #d971a1;
    color: white;
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
}

.pagina:hover {
    background-color: rgb(223, 116, 132);
}

footer {
    background-color: #3399BB;
    width: 100%;
    color: white;
    display: flex;
}

.rodape{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.div-rodape{
    float: left;
    width: 25%;
}

.titulo-rodape {
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  margin: 0px;
}

.texto-rodape {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    line-height: 130%;
    font-size: 80%;
  }

  @media screen and (max-width:500px){
    body{
        margin: 0px;
        min-width: 0px;
    }
    
    footer {
        background-color: #3399BB;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }
    
    .div-rodape{
        width: 100%;
        margin: 3%;
    }

    .rodape{
        padding-left: 2%;
        padding-right: 2%;
    }
}




