/* Edições do cabeçalho */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto';
    box-sizing: border-box;
}

header{
    height: 20vh;
    width: 100%;
    padding: 0 10%;
    background: #ffffff;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: left;
}

.logo{
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 30px;
}
.iconeperfil{
    width: 49px;
    height: 49px;
    border-radius: 100%;
    opacity: 0.5;
}
.nav-links{
    padding: 28px 0;
}
.nav-linkentrar{
    padding: 28px 0;
}
.nav-linkcadastrar{
    padding: 28px 0;
}
.nav-linkperfil{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 20px;
}
.nav-linkentrar li{
    display: inline-block;
}
.nav-linkcadastrar li{
    display: inline-block;
    margin: 0 15px;
}
.nav-linkperfil li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    left: -30px;
    top: 20px;
}
.nav-linkentrar li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    top: 20px;
    left: 230px;
}
.nav-linkcadastrar li a{
    text-decoration: none;
    color: #fff;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 250px;
}
.nav-linkperfil li a{
    text-decoration: none;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 16px;
    padding: 5px 0;
    position: relative; 
    left: 170px;
}
.nav-linkcadastrar li a::before{
    content: '';
    background: #d971a1;
    width: 100%;
    height: 35px;
    width: 130px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 8%;
    left: -6px;
}

.header_list_username{
    text-decoration: underline;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    padding: 45px 0;
    position: relative;
    left: 20%;
  }

.button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    width: fit-content;
    background-color: #d971a1;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
/* Edições da parte principal */
main{
    width: 100%;
    min-height: 386px;
    padding: 2%;
    background-color: #f2f2f2;
}

.container{
    width: 80%;
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.voltar{
    width: 100%;
    text-align: left;
    position: relative;
}

.adicionar{
    text-align: right;  
    padding-right: 10%;
    padding-bottom: 3%;
}

#editar{
    display: flex;
    justify-content: center;
}

#proxima{
    text-align: right;
    padding-right: 6%;
}

.saibamais{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -33px;
}

.botaosaiba_mais{
    background-color: #d971a1;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 800;
    width: 115px;
    height: 40px; 
}
.image-button{
    position: relative;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    padding: 30px;
    border: none;
    align-items: center;
}

.image-button img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
}

.image-button-blue{
    position: relative;
    background-color: #f2f2f2;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    border: none;
    align-items: center;
}


.botao_proxima{
    background-color: #d971a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    width: 100px;
    height: 30px;
}

.botaocadastrar{
    text-align: center;
}

.botao_editar {
    background-color: #d971a1;
    color: #fff;
    border: none;
    padding: 0.5%;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    width: 85px;
    height: 30px;
}

.botao_cadastrar{
    background-color: #d971a1;
    color: #fff;
    border: none;
    padding: 0.5%;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.titulo-main{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #F2A97E;
    position: relative;
    bottom: 40px;
}

.titulo-main h1{
    font-size: 300%;
}

.titulo-main h2{
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    opacity: 55%;
}

.evento_navbar{
    display: flex;
    justify-content: center;
    position: relative;
}

.localizacaonavbar{
    width: 50px;
    height: 46px;
    margin-left: 280px;
    margin-right: 10px;
}

.evento_searchbar{
    width: 640px;
    height: 42px;
    margin: 0 auto; 
    border: 2px solid #3399bba5;
    color: #3399bba5;
    border-radius: 30px;
    background-color: white;
    margin-bottom: 3%;
    margin-right: 350px;
    margin-left: 10px;
    max-width: 700px; 
    min-width: 600px;
    box-sizing: border-box;
}

.form-cadastro-evento{
    width: fit-content; 
    height: 450px;
    margin: 20px auto; 
    border: 4px solid #CBCBCB;
    padding: 45px 90px; 
    border-radius: 28px;
    border: none;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(90, 89, 89, 0.2);
    overflow: hidden;
    box-sizing: border-box;
}
.form-saiba-evento{
    width: 65%; 
    margin: 20px auto; 
    border: 4px solid #CBCBCB;
    padding: 50px 90px; 
    margin-bottom: 10px;
    border-radius: 28px;
    border: none;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(90, 89, 89, 0.2); 
    overflow: hidden;
    box-sizing: border-box;
}

.form-agenda-evento{
    width: 16%; 
    margin: 0 auto; 
    border: 4px solid #CBCBCB;
    padding: 30px 50px; 
    margin-bottom: 10px;
    border-radius: 28px;
    border: none;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(90, 89, 89, 0.2); 
    overflow: hidden;
}

.form-agenda-eventoB{
    width: 16%; 
    margin: 0 auto; 
    border: 4px solid #CBCBCB;
    padding: 30px 50px; 
    margin-bottom: 10px;
    border-radius: 28px;
    border: none;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(90, 89, 89, 0.2); 
    overflow: hidden;
}

.btn_fechar{
    position: relative;
}

.closebutton{
    background-color: #d971a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: 800;
    width: 6%;
    text-align: center;
    position: absolute;
    left: 370px;
}
.info_eventos{
    color: #3399BB;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 800;
    list-style: none;
    text-align: left;
}

.info_lista_eventos{ 
    margin-top: 18px;
    padding: 5px;
}

.info_agendaeventos{
    color: #3399bba5;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    list-style: none;
    text-align: justify;
    padding: 0 18px;
}

.info_lista_agenda{
    margin-bottom: 10px;
    margin-top: 10px;
}

.nomeagendaevento{
    color: #3399BB;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
}

.topo_formulario{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.evento_calendario{
    width: 115px;
    height: 125px;
}

.calendariosaibamais{
    width: 160px;
    height: 140px;
}

.centered-img-agenda{
    width: 230px;
    height: 110px;
    display: flex;
    justify-content: center;
}

.calendarioagendaevento{
    width: 130px;
    height: 110px; 
}

#addImageButtonBlue {
    display: inline-block;
    width: 3.3%;
    height: fit-content;
    background-color: #3399BB;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-top: 80px;
    margin-right: 120px;
}

#addImageButton:hover {
    background-color: #1731c5;
}

#foto {
    display: none;
}

.tituloevento{
    color: #3399bb;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 800;
    display: block; 
    margin-bottom: 2px;
    padding: 4px;
    font-weight: 800;
    text-align:  left;
    font-family: 'Roboto';
}

.tituloeventosaibamais{
    color: #3399bb;
    font-family: "Open Sans";
    font-size: 33px;
    font-weight: 1000;
    text-align: center;
    margin-top: 30px;
}

.ong_pegada{
    width: 320px;
    height: 320px;
    border-radius: 15%;
    margin: 20px;
}

.localizacaopng{
    height: 20px;
    width: 20px;
}

.eventotarefapng{
    height: 22px;
    width: 22px;
}

.telefonepng{
    height: 20px;
    width: 20px;
}

.enderecopng{
    height: 22px;
    width: 26px;
}

.emailpng{
    height: 24px;
    width: 24px;
}

label {  
    display: block; 
    margin-bottom: 2px;
    color: #3399BB;
    font-size: 19px;
    padding: 4px;
    font-weight: 800;
    text-align:  left;
    font-family: 'Roboto';
}

.input-top{
    height: 100px;
    border-radius: 3px;
    color: #3399bb;
    border: solid #fff;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 100px;
}

.input-left {
    font-size: 16px;
    color: #3399bba5;
    text-align: left;
    padding: 11px;
}

.input-left2{
    width: 100%; 
    margin-bottom: 10px;
    height: 32px;
    border-radius: 3px;
    color: #3399bba5;
    border: solid #fff;
    padding-right: 100px; 
}

.input-rightA{
    width: 90%; 
    margin-bottom: 10px;
    height: 32px;
    border-radius: 3px;
    color: #3399bba5;
    border: 2px solid #CBCBCB;
    padding-left: 10px;
    padding-right: 100px;
    text-align: left;
    font-size: 16px;
}

.input-rightA2{
    width: 100%; 
    margin-bottom: 10px;
    height: 32px;
    border-radius: 3px;
    color: #3399bba5;
    border: 2px solid #CBCBCB;
    padding-left: 10px;
    padding-right: 100px;
}

.input-rightB{
    width: 100%; 
    margin-bottom: 10px;
    height: 100px;
    border-radius: 3px;
    color: #3399bba5;
    border: 2px solid #CBCBCB;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 100px;
    text-align: left;
    font-size: 16px;
}

.input-rightB2{
    width: 100%; 
    margin-bottom: 10px;
    height: 100px;
    border-radius: 3px;
    color: #3399bba5;
    border: 2px solid #CBCBCB;
    padding-left: 10px;
    padding-right: 100px;
}

.form-column {  
    display: flex; 
    justify-content: space-between; 
}

.descricaoevento{
    width: 100%; 
    margin-bottom: 10px;
    width: 230px;
    height: 230px;
    border-radius: 3px;
    color: #3399bba5;
    border: 2px solid #CBCBCB;
    padding-left: 10px;
    padding-right: 100px;
}

.inputdescricaoevento{
    width: 215px;
    height: 170px;
    margin: 0 auto; 
    border: 2.5px solid #fff;
    background-color: white;
    text-align: justify;
    text-align: left;
    font-size: 16px;
}

.cardrow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    height: 75%;
    column-gap: 120px;
    row-gap: 100px;
    text-align: center; 
    position: relative;
    margin: 0 auto;
}
.cardrowseus{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0 auto;
}
.list_e_img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    column-gap: 20px;
    row-gap: 100px;
    text-align: left; 
    position: relative;
    margin: 0 auto;
}
.cardcolumnseus{
    padding: 6px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 28px;
    background-color: #fff;
    min-width: 386px;
    width: 52rem;
    height: 26rem;
}

.cardcolumn {
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 28px;
    background-color: #fff;
    height: fit-content;
}

input::placeholder {
    color: #3399bb99; 
    font-size: 14px;
    padding: 4px;
    font-family: 'Roboto';
    text-align: left;
    font-weight: 600;
}

.input-top::placeholder{
    color: #3399bb;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 800;
    opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 20px;
    padding-left: 20px;
    color: #3399BB;
}
/* Edições do rodapé */
footer {
    background-color: #3399BB;
    width: 100%;
    color: white;
    display: flex;
}

.rodape{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-rodape{
    float: left;
    width: 25%;
}

.titulo-rodape {
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  margin: 0px;
}

.texto-rodape {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    line-height: 130%;
    font-size: 80%;
}

  @media screen and (max-width:500px){
    body{
        margin: 0px;
        min-width: 0px;
    }
 
    footer{
        background-color: #3399BB;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }
    
    .div-rodape{
        width: 100%;
        margin: 3%;
    }

    .rodape{
        padding-left: 2%;
        padding-right: 2%;
    }
}
